@import "tailwindcss";
@plugin "daisyui";


* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-body), sans-serif;
  background: #0c0e12;
}

button,
input,
select {
  font: inherit;
}

html {
  scroll-behavior: smooth;
}


